/*body{background: url('../images/body_bg.jpg');}*/
.just_images{text-align: center;padding:1em;}
.just_images img{max-width:190px;margin:0em auto;border:2px solid #E8F7F7;border-radius: 3px}
.css_backgrounds{text-align: center}
.css_backgrounds div{width:150px;height: 120px;border:1px solid grey;display: inline-block;margin:.5em;background-size: 100% 100%;background-repeat: no-repeat}
.cb1{background: url('../images/backgrounds/1.jpg');}
.cb2{background: url('../images/backgrounds/2.jpg');}
.cb3{background: url('../images/backgrounds/3.jpg');}
.cb4{background: url('../images/backgrounds/4.jpg');}
.cb5{background: url('../images/backgrounds/5.jpg');}
.cb6{background: url('../images/backgrounds/6.jpg');}
.cb7{background: url('../images/backgrounds/7.jpg');}
.cb8{background: url('../images/backgrounds/8.jpg');}
.cb9{background: url('../images/backgrounds/9.jpg');}
.cb10{background: url('../images/backgrounds/10.jpg');}
.cb11{background: url('../images/backgrounds/11.jpg');}
.cb12{background: url('../images/backgrounds/12.jpg');}
p{color: #ECECED;font-weight: normal;font-size: 1.2em;text-shadow: 1px 0px 1px #ECECED;letter-spacing: 2px}