/*for plugin*/
#p_container{
	height:100%;
    width:100%;
    background-color:  #F8F9F8;
    text-align: center;
    font-size: 1.5em;
    color:#008CEF;
    line-height: 3em;
    vertical-align: center;
    z-index: 10000;
    top:0 !important;
    left:0 !important;
    border:none !important;
    display:block !important; 
    margin:0 !important;
    border-radius: none !important;
}
#p_container .p_progress_wrapper{
    width: 300px;
    height: 50px;
    background: #ffffff;
    position: relative;
    left: 50%;
    margin: -35px 0px 0px -150px;
    top: 50%;
    border-radius: 3px;
    border: 1px solid #A3A3A3;
    display: block;
}
#p_container .p_progress{
    display: block;
    height: 6px;
    width: 84%;
    margin: 0 auto 0 auto;
    background: white;
    top: 50%;
    position: relative;
    border: solid 1px #6CBAF3;
    padding: 0;
    border-radius: 3px;
}
#p_container .p_progress *{font-size: .7em;color:#232B31;top:0;left:0}
#p_container .p_progress span{
    position: relative;
    display: block;
    top: -24px;
    line-height: 1.5em;
    float: left;
    z-index: 1;
    margin: 0 .3em 0 .1em !important;
    padding:0;
    color: #2A4C6F;
    text-shadow: 1px 1px 3px white;
}
#p_container .p_progress span.percents{margin-left:0}
#p_container div.progress{
    height: 100%;
    display: block;
    margin:0 !important;
    border-radius: none;
    background: #BCDEF7;
    width: 0%;
    max-width: 100%;
    position: absolute;
    border:none;

}

